.page {
  background-color: rgb(62, 101, 114);
  min-height: 100vh;
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;

    .streamList {
      display: grid;
      gap: 16px;
      margin-top: 16px;
    }
  }
}
